[submodule "OnStepX"]
	path = OnStepX
	url = https://github.com/im-0/OnStepX.terrans
	branch = terrans-industry-onstep-v5-pro-eq5
[submodule "SmartHandController"]
	path = SmartHandController
	url = https://github.com/im-0/SmartHandController.terrans
	branch = terrans-industry
[submodule "SmartWebServer"]
	path = SmartWebServer
	url = https://github.com/im-0/SmartWebServer.terrans
	branch = terrans-industry
